*.obj
*.ipch
*.rprt
*.iobj
*.pch
*.log
*.recipe
*.tlog
*.pdb
*.idb
*.ipdb
*.suo
*.db
*.asm
*.dat
*.aps
*.user
*.ilk
*.metagen
*.db*
*.enc
*.opendb
*.ffs_db
*old
*orig
*.vs
*sensitive*
*enc_temp_folder*
*Debug*
*autosave*
*.bak
*.pkf
*.lnk
*Install*
/solutions
/build
/external
doxygen*